[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/"
verify_ssl = true
name = "downloadpytorch"

[packages]
torch = {version = "==2.1.0+cu121", index = "downloadpytorch"}
torchvision = {version = "==0.16.0+cu121", index = "downloadpytorch"}
opencv-python = "~=4.8.0.74"
wget = "~=3.2"
matplotlib = "~=3.7.2"
scikit-image = "~=0.21.0"
pyqt6 = "~=6.5.2"
easyocr = "~=1.7.0"
cuda-python = "~=12.2.0"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
